<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Wikipedia">
        <parameter name="search" value="Астрономия"/>
        <parameter name="login" value="TestForWD"/>
        <parameter name="passWord" value="3VGrdB4wHw$tA5F"/>
        <classes>
            <class name="TestWikipedia"/>
        </classes>
    </test>
</suite>