<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Wikipedia">
        <parameter name="search" value="Астрономия"/>
        <parameter name="login" value="TestForWD"/>
        <parameter name="passWord" value="3VGrdB4wHw$tA5F"/>
        <parameter name="header" value="Автоматизированное тестирование ПО"/>
        <parameter name="text" value="{{В инкубаторе}} &#10;

'''Автоматизированное тестирование ПО''' — это процесс тестирования на этапе контроля качества в процессе разработки программного обеспечения. Оно использует программные средства для выполнения тестов и проверки результатов выполнения, что помогает сократить время тестирования и упростить его процесс.
&#10;
== Инструментарий ==
* [[JUnit]] — тестирование приложений для [[Java]]
* TestNG — тестирование приложений для [[Java]]
* [[NUnit]] — порт JUnit под [[.NET Framework|.NET]]
* [[Selenium]] — тестирование приложений [[HTML]]; поддерживает браузеры [[Internet Explorer]], [[Mozilla Firefox]], [[Opera]], [[Google Chrome]], [[Safari]].
* [[TOSCA Testsuite]] — тестирование приложений [[HTML]], [[.NET Framework|.NET]], [[Java]], [[SAP]]
* [[UniTESK]] — тестирование приложений на [[Java]], [[Си (язык программирования)|Си]].
&#10;
== Ссылки ==
&#10;
* [http://automated-testing.info Портал об автоматизации тестирования ПО]
&#10;
[[Категория:Тестирование программного обеспечения]]"
        />
        <classes>
            <class name="org.example.first.selenium.project.TestWikipedia"/>
        </classes>
    </test>
</suite>